@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Track */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

  /* Track */
::-webkit-scrollbar-track {
    background: #d0ff9b; /* color of the track */
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #393939; /* color of the scrollbar handle */
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #288d00; /* color of the scrollbar handle on hover */
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48,
}

:root {
    --font-family: 'Poppins', sans-serif;
    --secondary-ff: Arial, Helvetica, sans-serif;
    --title-font: 'Teko', sans-serif;
    --subheader-font: 'Arial', sans-serif;
    
    --active-text: #252422;
    --secondary-text: #242522db;
    --text-color: #252422ab;

    --white-1: #f5f5f5;

    --color-1: #F8FFCA;
    --color-2: #B6D084;
    --color-3: #FFD046;
    --color-4: #FFCB32;
    --color-5: #97A11B;
    --color-6: #5ab827;
    --color-7: #7ABF1A;

    --delete: #fa1018;
    --update: #1cbf21;
    --cancel: rgb(234, 234, 234);

    --shadow-below: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    --norm-shadow: 5px 4px 8px #cecece;

    --font-size-h1: 7.451rem; /* 119.21px */
    --font-size-h2: 5.96rem; /* 95.37px */
    --font-size-h3: 4.768rem; /* 76.29px */
    --font-size-h4: 3.815rem; /* 61.04px */
    --font-size-h5: 3.052rem; /* 48.83px */
    --font-size-h6: 2.441rem; /* 39.06px */
    --font-size-large: 1.953rem; /* 31.25px */
    --font-size-medium: 1.563rem; /* 25.00px */
    --font-size-small: 1.25rem; /* 20.00px */
    --font-size-xs: 1rem; /* 16.00px */
    --font-size-xxs: .813rem; /* 16.00px */

    --layer-6: 6;
    --layer-5: 5;
    --layer-4: 4;
    --layer-3: 3;
    --layer-2: 2;
    --layer-1: 1;
    --layer-0: -1;

    --gen-transition: all .3s linear;
}

.blue {
    /* Blue theme colors */
    --color-1: #caf4ff;
    --color-2: #84bdd0;
    --color-3: #46d4ff;
    --color-4: #32c8ff;
    --color-5: #1b84a1;
    --color-6: #3011bb;
    --color-7: #312267;
}

.dark {
    /* Dark theme colors */
    --color-1: #191919;
    --color-2: #DDDDDD;
    --color-3: #777777;
    --color-4: #999999;
    --color-5: #BBBBBB;
    --color-6: #555555;
    --color-7: #333333;
}

/* .dark {
    --black: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
    --gray: rgba(128, 128, 128, 0.625);
    --section: rgb(37, 37, 37);
} */

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-1);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* Sidebar */
#wrapper {
    padding-left: 0;
    transition: all 0.3s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100vh;
    margin-left: -250px;
    background: var(--color-6);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: var(--norm-shadow);
    overflow-y: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    overflow-y: auto;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #f5f5f5;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: var(--color-1);
    background: var(--color-7);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: var(color-2);
}

/* burger */
.menu-btn {
    background: none;
    padding: 10px 15px;
    border: none;
}

.menu-btn span {
    font-size: 24px;
}

.sidebar-user {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.show-access {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    color: #f4f4f4;
}

.show-access i {
    font-size: 100px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 230px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 230px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        padding-bottom: 100px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* page content wrapper */
.section-header {
    margin-top: 20px;
}

.section-header h1 {
    font-size: 29px;
}

.section-divider { /* hr tag */
    height: 1px;
    margin: 10px 0;
}

.main-content {
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02), 0 6.7px 5.3px rgba(0,0,0,.028), 0 12.5px 10px rgba(0,0,0,.035), 0 22.3px 17.9px rgba(0,0,0,.042), 0 41.8px 23.4px rgba(0,0,0,.05), 0 10px 10px rgba(0,0,0,.07);
}

.table-controls {
    display: flex;
    margin: 0px 0 10px 0;
}

.table-con-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.table-container {
    max-height: 60vh;
    width: 100%;
    border: 1px solid #ababab;
    border-radius: 3px; 
    overflow-y: auto;
    background: #fff;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.th {
    background-color: var(--color-4);
    position: sticky;
    top: 0;
    border: 1px solid #696969;
    border-radius: 3px;
    z-index: var(--layer-2);
}

.tr {
    display: flex;
}

td {
    padding: 5px;
    text-align: left;
    border: 1px solid #acacac;
    border-radius: 3px;
    vertical-align: middle;
    white-space: nowrap; /* Prevent line breaks within table cells */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowing content */
}

.row-list:nth-child(even) {
    background-color: #f2f2f2;
}

input {
    height: 100%;
    padding: 5px;
    border: none;
    vertical-align: middle;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: 33%; /* Make the input fill the available width within the table cell */
}

input,
select {
    font-family: var(--font-family);
    outline: none;
    font-size: 16px;
}

/* search bar */
.search-form {
    --input-bg: #f5f5f5;
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 1em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 40px;
    /*  height */
    width: 250px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
}

.search-form:active {
    border: 2px solid --icon-change-color;

}

.search-form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.search-form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}
/* style for both icons -- search,close */
.search-form svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
}
/* search icon */
.icon {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}
/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.search-form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.search-form input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.search-form input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.search-form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.search-form input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.search-form input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.search-form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}



.error-container { /* Error message */
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30%;
    background-color: #ff3122;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 5;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.error-container.active {
    display: block;
    opacity: 1;
}

.error-close {
    position: fixed;
    top: 15px;
    right: 17px;
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

/* settings */
.settings-container {
    padding: 10px;
    max-height: 400px;
    width: 100%;
    border: 1px solid #ababab;
    border-radius: 3px;
    overflow-y: auto;
    background: #fff;
}

.theme-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 20px 0;
}

.container .theme-radio {
    display: flex;
    flex-wrap: wrap;
}

.container label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.container label .radio {
    position: absolute;
    left: -9999px;
}

.container label .radio:checked + span {
    background-color: #414181;
    color: white;
}

.container label .radio:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}

.container label span {
    display: flex;
    align-items: center;
    padding: 0.375em 1.5em 0.375em 0.775em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #414181;
}

.container label span:hover {
    background-color: #d6d6e5;
}

.container label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.radio-color-grid {
    display: grid;
    grid-template-columns: repeat(2, 20px);
    grid-template-rows: repeat(2, 20px);
}

.default-color {
    width: 20px;
    height: 20px;
}

.default-color:nth-child(1) {
    background: var(--color-3);
}

.default-color:nth-child(2) {
    background: var(--color-5);
}

.default-color:nth-child(3) {
    background: var(--color-6);
}

.default-color:nth-child(4) {
    background: var(--color-1);
}

.blue-color {
    width: 20px;
    height: 20px;
    background: var(--color-2);
}

.dark-color {
    width: 20px;
    height: 20px;
    background: var(--color-7);
}


/* Students list section */
.search-tab {
    width: 50%;
    margin-right: 100px;
}

.hdetails {
    width: 70px;
}

.rgender {
    width: 100px;
    text-align: center;
}
.hgender {
    width: 100px;
    text-align: center;
}

.rdetails,
.rlrn,
.hlrn,
.hdetails {
    text-align: center;
}




/* Edit section */

.edit-controls {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0 5px 0;
}

.overlay { /* Delete pop up message */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.confirm-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.confirm-dialog p {
    margin-bottom: 20px;
}

.confirm-dialog .btn-wrapper {
    text-align: right;
}